<h1>{{header}}</h1>
<div class="row">
    <div class="col-md-10 well">
        <form [formGroup]="form" (ngSubmit)="save()">
            <fieldset>
                <!--<legend>
                    News Item
                </legend>-->
                <div class="form-group">
                    <label>Title</label>
                    <!--<div [innerHTML]="rssItem.title"></div>
                    <div>{{rssItem.title | sanitizeHtml }}</div>-->
                    <!--<input [(ngModel)]="rssItem.title" name="title" #title formControlName="title" type="text" class="form-control" [innerHTML]="rssItem.title">-->
                   
                    <input type="text" formControlName="title" [(ngModel)]="rssItem.title" name="title" #title class="form-control" >
                     <div *ngIf="form.controls.title.touched && form.controls.title.errors">
                      <div *ngIf="form.controls.title.errors.required" class="alert alert-danger">
                          Title is required.
                      </div>
                     </div>
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input [(ngModel)]="rssItem.url" #url formControlName="url" type="text" class="form-control" url>
                    <!--<p *ngIf="url.errors?.url">error message</p>-->
                    <div *ngIf="form.controls.url.touched && form.controls.url.errors" class="alert alert-danger">
                        Please type a valid url.
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Date</label>
                        <input [(ngModel)]="rssItem.newsdate" #newsdate formControlName="newsdate" class="form-control"  type="date" date>
                        <div *ngIf="form.controls.newsdate.touched && form.controls.newsdate.errors">
                            <div *ngIf="form.controls.newsdate.errors.required" class="alert alert-danger">
                            Please enter a date.
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                Save
            </button>
        </form>
    </div>

    <div *ngIf="error" class="col-md-6">
        <div class="alert alert-danger">
            <p><strong>Server error!</strong></p>
            <p>{{error}}</p>
        </div>
    </div>

</div>