<!--<div class="row"> 
    <div class="col-md-6">
        <div *ngIf="currentItem" class="panel panel-default" [innerHTML]="currentItem.title">
        </div>
    </div>
</div>-->

<div class="row">
   <div *ngIf="error" class="col-sm-12">
        <div class="alert alert-danger">
            <p><strong>Server error!</strong></p>
            <p>{{error}}</p>
        </div>
    </div>
     
  <div class="col-sm-9">
    <h1>{{_region.name}} News Items</h1>
  </div>
  <div class="col-sm-3">
    <!--<button class="btn btn-block btn-success"><i class="glyphicon glyphicon-plus"></i> Add </button>-->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
   
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <td><i class="glyphicon glyphicon-hand-down"></i></td>
          <td colspan="3">
            <button type="button" class="btn btn-xs btn-warning">Delete <i class="glyphicon glyphicon-trash"></i></button>
            <div class="pull-right">
              <button routerLink="/news/{{_region.code}}/new" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> Add </button>
              <rss-search-form ></rss-search-form>
            </div>
          </td>
        </tr>
        <tr class="bg-primary">
          <td><input type="checkbox" (change)="checkAll($event)"></td>
          <td>Title/Link</td>
          <td>Date</td>
          <td>Action</td>
        </tr>
      </thead>
      <!--<tbody rss-list (rssUpdate)="onRssUpdate($event)">-->
      <tbody >
        <tr *ngFor="let item of rssItemsPaged" (rssUpdate)="onRssUpdate($event)">
          <td width="3%"><input type="checkbox" [disabled]="item.deleted" ([ngModel])="item.checked"></td>
          <td width="80%">
            <div [class.deleted]="item.deleted" [innerHTML]="item.title"></div>
            <div [class.deleted]="item.deleted"><a href="{{item.url}}" [innerHTML]="item.url"></a></div>
          </td>
          <td>
            {{item.newsdate | date:longDate}}
          </td>
          <td>
            <i (click)="rssDelete(item)" *ngIf="!item.deleted" class="glyphicon glyphicon-trash"></i>
            <i (click)="rssEdit(item)" *ngIf="!item.deleted" class="glyphicon glyphicon-pencil"></i>
            <i (click)="rssDelete(item)" *ngIf=" item.deleted " class="glyphicon glyphicon-modal-window "></i>
          </td>
        </tr>
      </tbody>
    </table>
      <pagination [items]="rssItems" (page-changed)="onPageChanged($event)"></pagination>
  </div>
</div>
