<rss-header></rss-header>
<div class="container">
    <div class="row col-sm-12">
        <rss-signup-form></rss-signup-form>
        <rss-login-form></rss-login-form>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <h1>{{region.name}} News Items</h1>
        </div>
        <div class="col-sm-3">
            <!--<button class="btn btn-block btn-success"><i class="glyphicon glyphicon-plus"></i> Add </button>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <td><i class="glyphicon glyphicon-hand-down"></i></td>
                        <td>
                            <button type="button" class="btn btn-xs btn-warning">Delete <i class="glyphicon glyphicon-trash"></i></button>
                            <button class="btn btn-xs btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Add </button>
                        </td>
                        <td>
                            <rss-search-form></rss-search-form>
                        </td>

                    </tr>
                    <tr class="bg-primary">
                        <td><input type="checkbox" (change)="checkAll($event)"></td>
                        <td>Title/Link</td>
                        <td>Action</td>

                    </tr>
                </thead>

                <tbody rss-list (rssUpdate)="onRssUpdate($event)">
                </tbody>

            </table>
        </div>
    </div>
</div>